.listing-section{
    flex: 9;/*occupy 9 parts from total of 12parts so that sidebar can take 3parts*/
    display: flex;
    flex-wrap: wrap;/*try to equally plae the childrens on same row based on total width and push the rest to next row*/
    margin: 20px;
}